       @charset "UTF-8";
       
       body{
            background-color: lightblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1{
            color: rgb(196, 199, 18);
            background-color: aqua;

        }
        h2{
            color: crimson;

        }
        p{
            text-align: justify;
        }